/* Basic reset */
body {
  margin: 0;
  padding: 0;
}

/* Map position */
#map {
  position: fixed;
  top: 200px;
  bottom: 100px;
  right: 800px;
  width: 30%;
}

/* Right-side scroll content */
#features {
  position: fixed;
  top: 200px;
  bottom: 100px;
  right: 350px;
  width: 30%;
  margin-left: 30%;
  font-family: sans-serif;
  overflow-y: scroll;
  background-color: #fafafa;
}

/* Section styling */
section {
  padding: 25px 50px;
  line-height: 25px;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  cursor: pointer;
  align-content: center;
}

section:hover {
  background-color: #eee;
}

section:last-child {
  border-bottom: none;
  margin-bottom: 200px;
}

body {
  background-image: url("bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  position: absolute;
  top: 100px;
  left: 500px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  color: white;
  align-items: center;
}
